@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
}
h1 {
  font-family: "Noto Serif Display", serif;
}
/* 
h1 {
  font-family: "Cormorant", serif;
} */
